.banner {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #9E5D35 50%, #FAF7F0 50%);
    position: relative;
  }
  
  .bannerImageContainer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 20;
  }
  
  .bannerImage {
    margin-right: 80px;
  }
  
  .card {
    position: absolute;
    width: 320px;
    height: auto;
    z-index: 20;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .cardTopLeft {
    top: 20%;
    left: 20%;
  }
  
  .cardBottomRight {
    top: 70%;
    left: 70%;
    border: 1px solid lightgray;
  }
  
  .cardContent {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .cardImage {
    width: 50%;
  }
  
  .cardText {
    width: 50%;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .addButton {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0;
  }
  
  .title {
    color: white;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    word-spacing: 20px;
    margin-left: 50px;
    font-family: "todes-light";
  }
  
  .highlight {
    color: black;
    margin-left: 4px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: transparent;
    top: 20px;
    width: 100%;
    gap: 40%;
    color: #000;
    font-size: 18px;
    list-style: none;
  }
  
  .navLeft, .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .centeredText {
    display: flex;
    justify-content: center;
  }
  
  .mainHeading {
    margin: 200px;
    color: #5b3e31;
    font-size: 105px;
    font-family: "todes-light";
  }
  
  .content {
    margin: 20px;
    position: absolute;
    margin-top: -100px;
  }
  
  .subtitle {
    word-spacing: 5px;
    font-size: 44px;
    color: #000000;
    text-align: center;
    font-weight: 700;
    max-width: 600px;
  }
  
  .description {
    color: #5E3823;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 3px;
    max-width: 650px;
  }
  








  @media(min-width: 768px) {
    .fixed-header-wrapper {
      width: 100%;
      z-index: 10;
      position: absolute;
      background-color: transparent;
      transition: top 0.3s ease-in-out;
    }
    
    .header-text {
      margin-left: 50px;
      word-spacing: 20px;
      font-family: 'bankgothic-regulardb';
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      letter-spacing: 4px;
      font-size: 36px;
      color: black;
      /* font-weight: 600; */
    }
    .header-text1 {
      margin-left: 50px;
      word-spacing: 20px;
      font-family: 'bankgothic-regulardb';
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      letter-spacing: 4px;
      font-size: 36px;
      color: white;
      /* font-weight: 600; */
    }
    
    .fixed-header-wrapper.fixed {
      position: fixed;
      top: 0;
      /* background-color: rgba(255, 255, 255, 0.2); 
      backdrop-filter: blur(10px); 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out; */
      background-color: white; 
      /* backdrop-filter: blur(10px);  */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .fixed-header-wrapper.hidden-header {
      top: -100px; /* Adjust this value to match the height of your header */
      transition: top 0.3s ease-in-out;
    }
    
.Banner-wrapper
{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #9E5D35 50%, #FAF7F0 50%);
}

.middle-image{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 20;
}

.card-wrapper
{
    position: absolute;
    width: 320px;
    height: auto;
    z-index: 20;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 20%;
    left: 20%;

}

.card-container
{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.add-text{
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0;
}
.add-button-container
{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navbar-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  top: 20px;
  width: 100%;
  gap: 40%;
  color: #000;
  font-size: 18px;
  list-style: none;
  margin-left: 3px;
}

.nav-left-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}


.nav-link
{
  color: black;
  align-self: flex-end;
  cursor: pointer;
}
.nav-right-link
{
  color: black;
  align-self: flex-end;
  cursor: pointer;
}

.banner-text-wrapper
{
  margin: 20px;
  position: absolute;
  margin-top: -100px;
}
.banner-heading-text
{
  word-spacing: 5px;
  font-size: 44px;
  color: #000;
  text-align: center;
  font-weight: 700;
  max-width: 600px;
}
.banner-subheading-text
{
  word-spacing: 3px;
  letter-spacing: 2px;
  font-size: 14px;
  color: #5E3823;
  text-align: center;
  font-weight: 600;
  max-width: 650px;
}
.middle-text
{
  font-family: todes-light;
  font-size: 105px;
  color: #5b3e31;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 340px 200px 200px 200px;
}
.middle-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  }



  @media(max-width: 768px){
    .middle-text-container
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 1;
    }

    .all-collection-text{
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      font-family: 'Todes light';
    }
    .Banner-wrapper
{
    position: relative;
    width: 100%;
    height: 400px;
    /* margin: 0; */
    background: linear-gradient(to right, #9E5D35 50%, #FAF7F0 50%);
}

.middle-image{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

  }