@media(min-width: 768px)
{
    .footer-wrapper-container
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        margin-left: 30px;
        margin-top: 100px;
        cursor: pointer;
    }
    .footer-wrapper-container li {
        list-style: none; /* Remove bullet points */
        text-decoration: none; /* Remove underlines if present */
        border-bottom: none; /* Make sure there's no border */
      }
      
      .footer-wrapper-container li:hover {
        text-decoration: none; /* Ensure no text decoration on hover */
        border-bottom: none; /* Remove any bottom border on hover */
      }
      
    .footer-link-text
    {
        font-size: 32px;
        font-weight: 700px;
        line-height: 40px;
        font-family: "Todes light";
    }
    .copy-right-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .copy-right-text
    {
        font-size: 24px;
        color: black;
        font-weight: 400;
        text-align: center;
        font-family: "Todes light";
    }
}


@media(max-width: 768px)
{
    .footer-wrapper-container
    {
        display: flex;
        flex-direction: column;
        gap: 2px;
        list-style: none;
        margin-left: 10px;
        padding-top: 50px;
    }
    .footer-link-text
    {
        font-size: 20px;
        font-weight: 600px;
        line-height:30px;
        font-family: "Todes light";
    }
    .copy-right-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .copy-right-text
    {
        font-size: 16px;
        color: black;
        font-weight: 400;
        text-align: center;
        font-family: "Todes light";
    }
}