@media(min-width: 768px)
{
    .footer-wrapper-container
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        margin-left: 30px;
        margin-top: 100px
    }
    .footer-link-text
    {
        font-size: 32px;
        font-weight: 700px;
        line-height: 40px;
        font-family: "Todes light";
    }
    .copy-right-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .copy-right-text
    {
        font-size: 24px;
        color: black;
        font-weight: 400;
        text-align: center;
        font-family: "Todes light";
    }
}


@media(max-width: 768px)
{
    .footer-wrapper-container
    {
        display: flex;
        flex-direction: column;
        gap: 2px;
        list-style: none;
        margin-left: 10px;
        margin-top: 50px
    }
    .footer-link-text
    {
        font-size: 20px;
        font-weight: 600px;
        line-height:30px;
        font-family: "Todes light";
    }
    .copy-right-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .copy-right-text
    {
        font-size: 16px;
        color: black;
        font-weight: 400;
        text-align: center;
        font-family: "Todes light";
    }
}