/* Card Container */
.productCard {
  width: auto;
  padding: 15px;
  background-color: #F2F2F2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 12px;
}

/* Header Section */
.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-size: 14px;
  color: #333;
}

.wishlistBtn {
  border: none;
  background: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

/* Product Image */
.productImage {
  width: 100%;
  height: auto;
  margin: 15px 0;
}

/* Product Name */
.productName {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

/* Price Section */
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.discount {
  font-size: 12px;
  color: #ff0000;
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 8px;
}

.priceDetails {
  text-align: left;
}

.currentPrice {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.originalPrice {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

/* Add to Cart Button */
.addToCartBtn {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 17px;
  height: 17px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-item-btn
{
  padding: 4px 8px;
  width: 100%;
  background-color: black;
  color: white;
  /* font-family: "Todes light"; */
  font-size: 12px;
  cursor: pointer;
  border-radius: 7px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}