@media(min-width: 768px)
{
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 50px;
  }
  
  .backgroundImage {
    width: 80%;
    border-radius: 20px;
  }
  
  .card {
    width: 550px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 26px;
    font-weight: 700;
    word-spacing: 3px;
    margin-bottom: 20px;
  }
  
  .text {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .input {
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 20px;
    padding: 8px;
    width: 70%;
  }
  
  .button {
    padding: 10px;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    width: auto;
  }
  
  
  .signuptext
  {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}

@media(max-width:768px)
{
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 50px;
  }
  
  .backgroundImage {
    width: 80%;
    border-radius: 20px;
  }
  
  .card {
    width: 550px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 26px;
    font-weight: 700;
    word-spacing: 3px;
    margin-bottom: 20px;
  }
  
  .text {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .input {
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 20px;
    padding: 8px;
    width: 70%;
  }
  
  .button {
    padding: 10px;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    width: auto;
  }
  
  
  .signuptext
  {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 10px;
  }

  .inputstyle
  {
    border: 1px solid black;
    padding: 6px;
    width: 200px;
  }

  .buttonstyle
  {
    background-color: black;
    padding: 6px 10px;
    color: white;
    font-size: 12px;
  }

  .subscribetext
  {
    font-size: 24px;
    color: white;
    font-weight: 400;
  }
}
